.container-top {
    height: 27px;
    background-color: rgb(91, 4, 4);
}

.container-center {
    height: 77px;
    background-color: red;
}

.container-bottom {
    height: 40px;
    background-color: rgb(91, 4, 4);
}

.image-container {
    width: 100%;
    position: relative;
    top: 10px;
}

img {
    width: 100%;
}